<li [class]="getAllBrandClass()" routerLink="/cars">Tüm Ürünler</li>

<div class="mb-3">
  <label for="filterBrand" class="form-label" class="marka">Markalar</label>
  <input type="text" [(ngModel)]="filterBrand" class="form-control" id="filterBrand" placeholder="marka giriniz">
</div>
<div *ngIf="filterBrand" class="alert alert-success">
    {{filterBrand}} aradınız
</div>
<ul class="list-group">
  <li
    (click)="setCurrentBrand(brand)"
    routerLink="/cars/brand/{{brand.brandId}}"
    [class]="getCurrentBrandClass(brand)"
    *ngFor="let brand of brands |brandFilterPipe:filterBrand"
  >
    {{ brand.brandName }}
  </li>
</ul>
