<table *ngIf="dataLoaded == true" class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Marka</th>
      <th>Renk</th>
      <th>Açıklama</th>
      <th>Ücret</th>
      <th>Model Yılı</th>
    </tr>
  </thead>
  <tbody>
    <tr
    routerLink="/carImages/car/{{ car.carId }}"
    (click)="setCurrentCar(car)"
    [class]="getCurrentCar(car)"
    *ngFor="let car of carDetails"
    >
    <td>{{ car.carId }}</td>
    <td>{{ car.brandName }}</td>
    <td>{{ car.colorName }}</td>
    <td>{{ car.description }}</td>
    <td>{{ car.dailyPrice }}</td>
    <td>{{ car.modelYear }}</td>
  </tr>
    
  </tbody>
  
</table>
