
  <div class="row" style="background-color: rgb(76, 76, 248); border-style: none; width: 1090px;">
     <div class="col-md-2" style="padding: 12px;">
      <select [(ngModel)]="brandId" class="form-select" aria-label="Default select example">
        <option  value="0" selected disabled hidden >Marka Seçiniz</option>
        <option  *ngFor="let brand of brands" value="{{brand.brandId}}">{{brand.brandName}}</option>
      </select>
     </div>

     <div class="col-md-2" style="padding: 12px;">
      <select [(ngModel)]="colorId" class="form-select" aria-label="Default select example">
        <option value="0" selected disabled hidden>Renk Seçiniz</option>
        <option *ngFor="let color of colors" value="{{color.colorId}}">{{color.colorName}}</option>
      </select>
     </div>

     <div class="col-md-3" style="padding: 12px;">
      <button (click)="getCarsWithBrandAndColor()"  type="button" class="btn btn-success">Filtrele</button>
      <button  (click)="resetItems()" type="reset" class="btn btn-danger" style=" position: relative; left: 10px;">Temizle</button>
    </div>


     <div style="display:flex; flex-direction: row;  align-items: center; border-style: none; padding: 10px; " class="col-md-3">
        <label for="filterCar" class="form-label" style="text-align: center; width: 300px; color: white;">Model Ara :</label> 
        <input type="text" [(ngModel)]="filterCar" class="form-control" id="filterCar" placeholder="model giriniz">
     </div>
  </div>

    <div class="row" *ngIf="dataLoaded==true">
      <div *ngFor="let car of carDetails | carFilterPipe:filterCar" class="card col-3" style="width: 30%; margin: 8px;padding: 2px;">

        <div class="card-img-top">
          <img src="{{CarImagePath}}{{getCarImage(car)}}" style="width: 300px; padding-left: 25px; padding-top: 10px;" >
        </div>

        <div class="card-body">
          <h5 class="card-tittle">
            {{car.brandName | uppercase}}
          </h5>
          <p class="card-text">{{ car.description }}</p>
        </div>
        <section style="float: inline-end; margin-bottom: 8px">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Model Year : {{ car.modelYear }}</li>
          <li class="list-group-item">
            Price : {{ car.dailyPrice | currency }} / day
          </li>
          <li class="list-group-item">Color : {{ car.colorName }}</li>
        </ul>
        <div class="card-body" style="border-style: none;">
          <section style="float: left; ;border-style: none;">
            <button type="button" class="btn btn-primary" routerLink="/cars/carDetails/{{ car.carId }}">View Detail</button>
          </section>
          <section style="float:right ;border-style: none;">
            <button type="button" class="btn btn-success" routerLink="/rental/add/{{car.carId}}">Rent</button>
          </section>
        </div>
        </section>
      </div>
    </div>
 

  
